In [1]:
import sqlite3
print(sqlite3.sqlite_version_info) # (3, 21, 0)

(3, 33, 0)

# SQLite3 데이터베이스 생성

In [2]:
try:
    # (1) db 연동 객체
    conn = sqlite3.connect("./data/sqlite_db.db") # db 생성 -> 연결

    # (2) sql 실행 객체
    cursor = conn.cursor()
    
    # (3) table 생성
    sql='create table if not exists test_table(name text(10), phone text(15), addr text(50))'
    cursor.execute(sql) # sql문 실행
    
    # (4) 레코드 추가
    cursor.execute("insert into test_table values('홍길동', '010-1111-1111', '서울시')")
    cursor.execute("insert into test_table values('이순신', '010-2222-2222', '해남시')")
    cursor.execute("insert into test_table values('강감찬', '010-1111-1111', '인천시')")
    conn.commit() # db 반영
    
    # (5) 레코드 조회
    cursor.execute("select * from test_table")
    rows = cursor.fetchall() # 조회 레코드 가져오기
    
    for row in rows: # (6) 레코드 출력1
        print(row)
        
    print('이름 \t전화번호 \t주소') # (7) 레코드 출력2
    for row in rows:
        print (row[0], '\t', row[1], '\t', row[2])
except Exception as e:
    print('db 연동 실패 : ', e)
    conn.rollback() # 실행 취소
finally:
    cursor.close() # cursor 객체 닫기
    conn.close() # conn 객체 닫기

('홍길동', '010-1111-1111', '서울시')
('이순신', '010-2222-2222', '해남시')
('강감찬', '010-1111-1111', '인천시')
이름 	전화번호 	주소
홍길동 	 010-1111-1111 	 서울시
이순신 	 010-2222-2222 	 해남시
강감찬 	 010-1111-1111 	 인천시

# SQLite3 CRUD_1

In [6]:
try:
    # (1) db 연동 객체
    conn = sqlite3.connect("./data/sqlite") # db 생성 -> 연결    
    
    # sql 실행 객체
    cursor = conn.cursor()
    
    # (1) table 생성
    sql = """create table if not exists goods(
    code integer primary key,
    name text(30) unique not null,
    su integer default 0,
    dan real default 0.0
    )"""
    cursor.execute(sql) # sql 실행
    
    # # (2) 레코드 추가
    # cursor.execute("insert into goods values(1, '냉장고', 2, 8500000)")
    # cursor.execute("insert into goods values(2, '세탁기', 3, 5500000)")
    # cursor.execute("insert into goods(code , name) values(3, '전자레인지')")
    # cursor.execute("insert into goods(code, name, dan) values(4, 'HDTV', 15000000)")
    # conn.commit () # db 반영
    
    # (3) 례코드 조회
    sql = "select * from goods"
    cursor.execute(sql)
    rows = cursor.fetchall() # 레코드 가져오기
    
    for row in rows:
        print(row[0], row[1], row[2], row[3])
    print('검색된 레코드 수 : ', len(rows))
        
    # (4) 상품명 조회
    name = input("상품명 입력 : ")
    sql = f"select * from goods where name like '%{name}%'"
    cursor.execute(sql) # 조회
    rows = cursor.fetchall()
    
    if rows: # null = false
        for row in rows:
            print(row)
    else:
        print('검색된 레코드 없음')
        
except Exception as e:
    print('db 연동 error : ', e)
    conn.rollback()
    
finally:
    cursor.close()
    conn.close()

2 2 2 2.0
검색된 레코드 수 :  1
검색된 레코드 없음

# SQLite3 CRUD_2

In [7]:
try:
    # (1) db 연동 객체
    conn = sqlite3.connect("./data/sqlite") # db 생성 -> 연결    
    
    # sql 실행 객체
    cursor = conn.cursor()
    
    # (1) table 생성
    sql = """create table if not exists goods(
    code integer primary key,
    name text(30) unique not null,
    su integer default 0,
    dan real default 0.0
    )"""
    cursor.execute(sql) # sql 실행
    
#     # (2) 레코드 추가
#     cursor.execute("insert into goods values(1, '냉장고', 2, 8500000)")
#     cursor.execute("insert into goods values(2, '세탁기', 3, 5500000)")
#     cursor.execute("insert into goods(code , name) values(3, '전자레인지')")
#     cursor.execute("insert into goods(code, name, dan) values(4, 'HDTV', 15000000)")
#     conn.commit () # db 반영

    # (5) 레코드 추가 2차
    code = int(input('code 입력 : '))
    name = input('name 입력 : ') # 문자
    su = int(input('su 입력 : ') )
    dan = int (input ('dan 입력 : ') )
    sql = f"insert into goods values({code}, '{name}', {su}, {dan})"
    cursor.execute(sql) # 레코드 추가
    conn.commit()
    
    # (6) 레코드 수정 code -> su, dan 수정
    '''주석처리
    code = int(input('수정 code 입력 : '))
    su = int(input('수정 su 입력 : '))
    dan = int(input('수정 dan 입력 : '))
    
    sql f"update goods set su = {su}, dan = {dan} where code = {code}"
    cursor.execute(sql) # 수정
    conn.comrnit() # db 반영
    '''
    # (7) 례코드 삭제 code -> 삭제
    ''' 주석처리
    code = int(input('삭제 code 입력 : '))
    sql f"delete from goods where code = {code}"
    cursor.execute(sql) # 삭제
    conn.commit() # db 반영
    '''
    # (3) 례코드 조회
    sql = "select * from goods"
    cursor.execute(sql)
    rows = cursor.fetchall() # 레코드 가져오기
    
    for row in rows:
        print(row[0], row[1], row[2], row[3])
    print('검색된 레코드 수 : ', len(rows))
    
    # (4) 상품명 조회
    name = input("상품명 입력 : ")
    sql = f"select * from goods where name like '%{name}%'"
    cursor.execute(sql) # 조회
    rows = cursor.fetchall()
    
    if rows: # null = false
        for row in rows:
            print(row)
    else:
        print('검색된 레코드 없음')
        
except Exception as e:
    print('db 연동 error : ', e)
    conn.rollback()
    
finally:
    cursor.close()
    conn.close()

2 2 2 2.0
11 충전기 39 1000.0
검색된 레코드 수 :  2
(2, '2', 2, 2.0)
(11, '충전기', 39, 1000.0)

# 062일차-실습-0-4

In [27]:
try:
    # (1) db 연동 객체
    conn = sqlite3.connect("./data/sqlite2_db.db") # db 생성 -> 연결

    # (2) sql 실행 객체
    cursor = conn.cursor()

    # (3) table 생성
    sql='create table if not exists item(code integer primary key, name text(30) unique not null, qty integer default 0, unit_price real default 0.0)'
    cursor.execute(sql) # sql문 실행
    
    # # (4) 레코드 추가
    # cursor.execute("insert into item values(1, '선풍기', 1, 150)")
    # cursor.execute("insert into item values(2, '에어콘', 1, 200)")
    # cursor.execute("insert into item values(3, '충전기', 1, 100)")
    # cursor.execute("insert into item values(4, '키보드', 1, 70)")
    # cursor.execute("insert into item values(5, '마우스', 1, 60)")
    # conn.commit() # db 반영
    
    # (5) 레코드 조회
    cursor.execute("select * from item")
    rows = cursor.fetchall() # 조회 레코드 가져오기

        
    print('code \tname \tqty \tunit_price') # 레코드 출력
    for row in rows:
        print (row[0], '\t', row[1], '\t', row[2],'\t', row[3])

    # (6) 상품명 조회
    code = input("조회할 코드를 입력하세요 : ")
    sql = f"select * from item where code like '%{code}%'"
    cursor.execute(sql) # 조회
    rows = cursor.fetchall()
    
    print(f'code 값을 입력하세요 : {code}')

    if rows: # null = false
        for row in rows:
            print (f'조회결과 \n코드 : {row[0]}, 제품명 : {row[1]}, 수량 : {row[2]},  단가 : {row[3]}')
    else:
        print('검색된 레코드 없음')
        
except Exception as e:
    print('db 연동 error : ', e)
    conn.rollback()
    
finally:
    cursor.close()
    conn.close()

code 	name 	qty 	unit_price
1 	 선풍기 	 1 	 150.0
2 	 에어콘 	 1 	 200.0
3 	 충전기 	 1 	 100.0
4 	 키보드 	 1 	 70.0
5 	 마우스 	 1 	 60.0
code 값을 입력하세요 : 4
조회결과
코드 : 4, 제품명 : 키보드, 수량 : 1,  단가 : 70.0