In [2]:
import pandas as pd

In [3]:
dates = pd.date_range('2021-07-01','2021-07-06')
print(dates)
print(type(dates))

DatetimeIndex(['2021-07-01', '2021-07-02', '2021-07-03', '2021-07-04',
               '2021-07-05', '2021-07-06'],
              dtype='datetime64[ns]', freq='D')
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [4]:
# 이 소스는 위에서 만들어진 dates 라는 인덱스를 시리즈에 적용한 형태이다 
# DatetimeIndex 의 형식을 인덱스로 사용하는 시리즈를 특별하게 시계열 이라고 한다 
temps1 = pd.Series([80,82,85,90,83,87], index=dates)
print(temps1)

2021-07-01    80
2021-07-02    82
2021-07-03    85
2021-07-04    90
2021-07-05    83
2021-07-06    87
Freq: D, dtype: int64

In [5]:
temps2 = pd.Series([70, 75,69,83, 79,77], index = dates)
temps_diffs = temps1 - temps2
temps_diffs

2021-07-01    10
2021-07-02     7
2021-07-03    16
2021-07-04     7
2021-07-05     4
2021-07-06    10
Freq: D, dtype: int64

In [6]:
temps_diffs.mean()

9.0

In [7]:
temps_df = pd.DataFrame(
    {
        'Missoula' : temps1,
        'Philadelphia' : temps2
    }
)
temps_df

            Missoula  Philadelphia
2021-07-01        80            70
2021-07-02        82            75
2021-07-03        85            69
2021-07-04        90            83
2021-07-05        83            79
2021-07-06        87            77